### Python Essentials


1. Variable
2. Data Structure
3. Operator
4. Flow Control
5. Function

# 1. Variable

In [1]:
# A variable is an element that stores a value, such as a number or string. 
# It is created when the program starts, and memory is allocated when a value is entered.
# When the program ends, the allocated memory is returned to the system.

# In Python (like other programming languages), "=" is used to enter, or assign, the value of a variable.
# Variable names can start with an alphabetic or underscore (_) character.

In [2]:
# 1_1 Numeric variable

a = 123.456 # real number (float)
b = 123456  # integer
print(a, type(a))
print(b, type(b))

123.456 <class 'float'>
123456 <class 'int'>

In [3]:
# 1_2 String variable
# A string variable can be created using single quotation marks ('...') or double quotation marks ("....").

a = 'finance' 
b = "finance" 
c = '"finance"' 
d = "'finance'"

In [4]:
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

finance <class 'str'>
finance <class 'str'>
"finance" <class 'str'>
'finance' <class 'str'>

In [5]:
# 123.456 is numeric, while '123.456' is a string.
e = '123.456'
print(e, type(e))

123.456 <class 'str'>

# 2. Data Structure

In [6]:
# Data structures are the fundamental constructs around which you build your programs. 
# Each data structure provides a particular way of organizing data so it can be accessed efficiently, depending on your use case.
# Most popular data structures in Python: list, tuple, and dictionary.

In [7]:
# 2_1 List
# List is a data structure used to store various types of variables.
# It is easy to change items, such as add, delete, update, etc. 
# It is defined with brackets [], and elements in the list are separated by commas (,).

# Create an empty list
a_list = []

# Create a list with items
b_list = [1,2,3,4,5,6]

# Concatenate the two lists into one list
c_list = [1,2,3] + [4,5,6]

# Create a list where the list [1,2,3] is repeated twice. 
# In this case, * is not multiplication.
d_list = [1,2,3]*2

In [8]:
print(a_list, type(a_list))
print(b_list)
print(c_list)
print(d_list)
print('The number of items in b_list =', len(b_list)) # len() returns the length of list

[] <class 'list'>
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
The number of items in b_list = 6

In [9]:
# 2_1_1 Index
# Each item in the list has an index starting from 0.
# We can get or update only particular values using indexing.
# A negative value implies indexing from the end. 

a_list = [1,2,3,4,5,6]

print(a_list[0])
print(a_list[1])
print(a_list[-1])
print(a_list[-2])

1
2
6
5

In [10]:
# 2_1_2 Slice
# Format: list_name[start index:end index]

a_list = [1,2,3,4,5,6]

# Slice the items from index 0 to before 2.
print(a_list[0:2])

# If the start index is omitted, start from 0.
print(a_list[:2])

# If the end index is omitted, end at -1.
print(a_list[2:])

[1, 2]
[1, 2]
[3, 4, 5, 6]

In [11]:
# 2_1_3 Update

a_list = [1,2,3,4,5,6]

# Change the item 3 to 4
a_list[2] = 4
print(a_list)

# To delete, use the del function.
del a_list[1]
print(a_list)

# Delete from the 3rd item to the end
del a_list[2:]
print(a_list)

# The whole list can also be deleted
del a_list
print(a_list) # error occurred

[1, 2, 4, 4, 5, 6]
[1, 4, 4, 5, 6]
[1, 4]

NameError: name 'a_list' is not defined

In [ ]:
# 2_2 Tuple
# Tuple is similar to a list, but cannot be changed.
# Tuple can be defined with parentheses ()
# Immutability (not chagable) seems disadvantageous, but it can also be advantageous. 
# If you have a data structure in which items should not be changed while the program is running, tuples can be a good choice.
# Tuple can be indexed and sliced like list.

a_tuple = ()
b_tuple = (1,2,3,4,5,6)
c_tuple = 1,2,3,4,5,6 # possible to define without parentheses ()

print(a_tuple)
print(b_tuple)
print(c_tuple)
print('The length of tuple =', len(b_tuple))

In [12]:
# 2_3 Dictionary
# Dictionary is used to store data values in key:value pairs (like a word dictionary).
# Dictionay can be defined with curly brackets {}. 
# Dictionary is a collection which is ordered and changeable, and does not allow duplicates in keys.

# Create a dictionary in the form of {key:value} inside {}
a_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6}
print(a_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [13]:
# To add a new item to a dictionary, use the new key to assign the new value.
a_dict['seven'] = 8
print(a_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 8}

In [14]:
# Update dictionary: Key - 'seven' / Value - '7'
a_dict['seven'] = 7
print(a_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7}

In [15]:
# The key is also used to delete an item.
del a_dict['one']
print(a_dict)

{'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7}

In [16]:
# To get all keys in a dictionary, use the keys function.
keys = a_dict.keys()
print(keys, type(keys))
for k in keys:
   print(k)

dict_keys(['two', 'three', 'four', 'five', 'six', 'seven']) <class 'dict_keys'>
two
three
four
five
six
seven

In [17]:
# To get all the values of a dictionary, use the values function.
values = a_dict.values()
print(values, type(values))
for v in values:
   print(v)

dict_values([2, 3, 4, 5, 6, 7]) <class 'dict_values'>
2
3
4
5
6
7

In [18]:
# To get both the keys and values of a dictionary, use the items function.
items = a_dict.items()
print(items, type(items))
for k, v in items:
   print(k, v)

dict_items([('two', 2), ('three', 3), ('four', 4), ('five', 5), ('six', 6), ('seven', 7)]) <class 'dict_items'>
two 2
three 3
four 4
five 5
six 6
seven 7

In [19]:
# Use in to check if a key exists in a dictionary.
# True if the key exists, False otherwise.
print('six' in a_dict)
print('eight' in a_dict)

True
False

# 3. Operator

In [20]:
# Assignment
a = 1
print(a)

1

In [21]:
# Arithmetic operations
a = 1
b = 2
print('add       =', a + b)
print('substract =', a - b)
print('multiply  =', a * b)
print('divide    =', a / b)

add       = 3
substract = -1
multiply  = 2
divide    = 0.5

In [22]:
print(10 / 3) # division
print(10 //3) # quotient of division
print(10 % 3) # remainder of division

3.3333333333333335
3
1

In [23]:
# Power
c = 3
print('squared =', c**2)

squared = 9

In [24]:
# Comparison (returns a boolean value, "True" or "False")

# few examples 
print(1<2)
print(1>2)
print(1<=2)
print(1>=2)

print(1==2)
print(1!=2)

True
False
True
False
False
True

In [25]:
# Logical operator
T = True
F = False
print(T, type(T))
print(F, type(F))
# Negation 
print(not T)
print(not F)
# Logical product
print(T and F)
# Logical sum
print(T or F)

True <class 'bool'>
False <class 'bool'>
False
True
False
True

# 4. Flow Control

In [26]:
# Normally, program codes are executed from top to bottom.
# We can control the flow of codes by using various conditions or loops.

# if-else statement

# Case 1
# if condition:
# run codes if condition is true

# Case 2
# if condition 1:
# run codes if condition 1 is true
# elif condition 2:
# run codes if conditiona 1 is false and condition 2 is true
# else:
# run codes if both conditions 1 and 2 are false

total = 70
if total > 100:
  print('Total is greater than 100')
elif total == 100:
  print('Total is 100')
elif total >= 50 and total < 100:
  print('Total is greater than or equal to 50 and less than 100')
else:
  print('Total is less than 50')

Total is greater than or equal to 50 and less than 100

In [27]:
# for loop
# for loop can execute a block of code a number of times.

# for variable in range(start, end):
# code block to repeat

# Example: for loop that repeats from 1 to 9 (not 10)
for x in range(1,10):
   print(x)

1
2
3
4
5
6
7
8
9

In [28]:
# Example: multiplying numbers in list 

num_list = list(range(1,5))
print(num_list, type(num_list))

prod = 1 # initialize

# While iterating over the list, b points to each number.
for n in num_list:
  prod = prod*n
  # 1  = 1   *1
  # 2  = 1   *2
  # 6  = 2   *3
  # 24 = 6   *4
print('The product =',prod)

[1, 2, 3, 4] <class 'list'>
The product = 24

# 5. Function

In [29]:
# A function is a block of code which only runs when it is called.
# Python already defined numerous built-in functions.
# We can also create user-defined functions.

# Format:
# def function name (parameter):
# function body

# Example 1: create a function which simply returns the string "Hello World"
def HelloWorld():
   return 'Hello World'
# Example 2: enter your own message
def HelloMessage(msg):
   return 'Hello ' + msg

In [30]:
# calling functions
greeting = HelloWorld()
print(greeting)

greeting = HelloMessage('MARY')
print(greeting)

print(HelloWorld())
print(HelloMessage('MARY'))

Hello World
Hello MARY
Hello World
Hello MARY

In [31]:
# return can return multiple values, e.g., list.
# Example: the function returns the list containing multiple items

def x():
  return [1,2,3,4]

x_list = x()
print(x_list, type(x_list))

def y():
  return list('finance')

y_list = y()
print(y_list, type(y_list))

[1, 2, 3, 4] <class 'list'>
['f', 'i', 'n', 'a', 'n', 'c', 'e'] <class 'list'>